@model ServiceStation.WebUI.Models.CarsListViewModel

@{
  ViewBag.Title = "Cars";
}
<div id="menuItems">
    @{ Html.RenderAction("Menu", "ClientNav"); }
</div>
<div id="content">
    <table>
        <tr >
            @if (!string.IsNullOrEmpty(Model.CurrentClientId))
            {
                <th>ID</th>
                <th>VIN</th>
                <th>Year</th>
            }
            else
            {
                <h4>Choose a client to display cars.</h4>
            }
        </tr>
        @foreach (var item in Model.Cars)
        {
        <tr >
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.VIN, "EditCar", new { item.Id }, new { @class = "link" })</td>
            <td>@item.Year</td>
            <td>
                @using (Html.BeginForm("Delete", "Car"))
                {
                    @Html.Hidden("Id", item.Id)
                    <input type="submit" value="Delete" class="cardeletebutton" />
                }
            </td>
            <td>
                @using (Html.BeginForm("OrderList", "Order"))
                {
                    @Html.Hidden("carId", item.Id)
                    @Html.Hidden("clientId", item.ClientId)
                    <input type="submit" value="Orders" class="ordersbutton" />
                }
            </td>
        </tr>
        }
    </table>
    @if (!string.IsNullOrEmpty(Model.CurrentClientId))
    {
        <p>@Html.ActionLink("+ add a new car", "Create", new { clientId = Model.CurrentClientId }, new { @class = "link" })</p>
    }
</div>