@model ServiceStation.WebUI.Models.OrderViewModel

@{
    ViewBag.Title = "Edit Order";
}

<h1>Edit order @Model.Order.Id</h1>
@using (Html.BeginForm("EditOrder", "Order"))
{
<table>
    <tr>@Html.LabelFor(m => m.Order.Date)</tr>
    <tr>@Html.TextBoxFor(m => m.Order.Date)</tr>
    <tr>@Html.LabelFor(m => m.Order.Amount)</tr>
    <tr>@Html.TextBoxFor(m => m.Order.Amount)</tr>
    <tr>@Html.LabelFor(m => m.Order.Status)</tr>
    <tr>@Html.DropDownListFor(m => m.Order.Status, ViewBag.AllStatuses as SelectList)</tr>
    @for (int i = 0; i < Model.OrderServices.Length; i++)
    {
        @Html.HiddenFor(m => m.OrderServices[i].ServiceId)
        @Html.CheckBoxFor(m => m.OrderServices[i].Checked) @Model.ServiceTypes.FirstOrDefault(x => x.Id == Model.OrderServices[i].ServiceId).Name
        @Html.TextBoxFor(m => m.OrderServices[i].Note)
    }
    @Html.HiddenFor(m => m.Order.CarId)
    @Html.HiddenFor(m => m.Order.Id)
</table>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to order list", "OrderList")

}

