@model ServiceStation.WebUI.Models.OrdersListViewModel

@{
    ViewBag.Title = "Orders";
}
<div id="menuItems">
    @{ Html.RenderAction("CarMenu", "CarNav"); }
</div>
<div id="content">
    <table class="Grid">
        <tr>
            @if (!string.IsNullOrEmpty(Model.CurrentCarId))
            {
                <th>ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Amount</th>
            }
            else
            {
                <h4>Choose a car to display orders.</h4>
            }
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Date.ToString()</td>
                <td>@item.Status</td>
                <td>@item.Amount</td>
                <td>
                    @using (Html.BeginForm("Delete", "Order"))
                    {
                        @Html.Hidden("Id", item.Id)
                        <input type="submit" value="Delete" class="cardeletebutton" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Edit", "Order"))
                    {
                        @Html.Hidden("Id", item.Id)
                        <input type="submit" value="Edit" class="ordereditbutton" />
                    }
                </td>
            </tr>
        }
    </table>
    @if (!string.IsNullOrEmpty(Model.CurrentCarId))
    {
        <p>@Html.ActionLink("+ add a new order", "Create", new { carId = Model.CurrentCarId }, new { @class = "link" })</p>
    }
</div>
<div style="clear:both">
    <br />
    @Html.ActionLink("Back", "List", "Car", new { }, new { @class = "link" })
</div>